<form method="post" action="{{ path('app.student_delete', {'id': student.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-danger">{{ 'app.crud.delete'|trans }}</button>
</form>
