<form method="post" action="{{ path('app.departement_delete', {'id': departement.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}">
    <button class="btn btn-danger">{{ 'app.crud.delete'|trans }}</button>
</form>
